$layout-breakpoint-medium: 1025px;
$layout-breakpoint-small: 768px;

$padding--desktop: 20px 60px;
$padding--mobile: 20px 20px;

$color__primary: #eeeee4;
$color__secondary: #d4a5a5;
$color__text: #5c4b4b;
$error__text: #a11818;
