@use "../../utilities/variables" as vars;

.certifications ul {
  list-style: none;
  padding: 0;

  li {
    user-select: none;
    display: flex;
    gap: 4px;

    span {
      text-decoration: underline;
    }
  }
}

.certifications li {
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.certifications li:hover {
  color: vars.$color__secondary;
}

.certificationsModal {
  max-width: 800px !important;
}
