@import "../../utilities/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: $padding--desktop;

  .logo {
    text-decoration: none;
    color: black;
    h1 {
      margin: 0;
      font-size: 2.5rem;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 36px;

    .headerLink {
      text-decoration: none;
      padding: 10px;
      font-weight: 500;
      user-select: none;
    }
  }

  .gitHubLink {
    a {
      padding: 10px;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}

.headerLinksMobile {
  display: none;
}

.burger {
  .burgerIcon {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;

    .bar {
      width: 40px;
      max-width: 100%;
      background: $color__text;
      height: 4px;
      display: block;
      margin-bottom: 0;
      border-radius: 2px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .burgerDropdown {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    background: white;
    padding: $padding--mobile;
    box-shadow: 0px 5px 6px rgba(92, 75, 75, 0.5);
    background-color: $color__primary;

    .navbar {
      flex-direction: column;
      gap: 16px;
      ul {
        flex-direction: column;
        width: 100%;
        gap: 16px;
      }

      .gitHubLink {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $layout-breakpoint-medium) {
  .header {
    padding: $padding--mobile;
  }
  .headerLinksMobile {
    display: block;
  }

  .headerLinksDesktop {
    display: none;
  }
}
