@use "../../utilities/variables" as vars;

.footer {
  padding: vars.$padding--desktop;
  text-align: center;
  margin-top: auto;
  font-weight: 500;
}

@media only screen and (max-width: vars.$layout-breakpoint-medium) {
  .footer {
    padding: vars.$padding--mobile;
  }
}
