@use "../../utilities/variables.scss" as vars;

.embla {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.embla__container {
  display: flex;
  flex-direction: row;
  will-change: transform;
  margin: 0;
  padding: 0;
  gap: 0;
}

.embla__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__prev,
.embla__next {
  position: absolute;
  top: 42%;
  z-index: 1;
  translate: 0 -42%;
  padding: 15px;
}

.embla__prev[disabled],
.embla__next[disabled] {
  opacity: 0.3;
}

.embla__prev {
  left: 0;
}

.embla__next {
  right: 0;
}

@media only screen and (max-width: vars.$layout-breakpoint-small) {
  .embla__prev,
  .embla__next {
    display: none;
  }
}
